<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-controller="myController">

    <div class="container-fluid">

        <div class="row text-center" style="background-color: blue;">
            <h3 style="color: white">Quản lý thông tin thực tập sinh</h3>
        </div>


        <div class="row" id="menu_detail" style="background-color:#eeeee4">
            <div class="col-md-10 col-xs-10 col-sm-10 col-lg-10">
                <h3>Danh sách nhân viên thực tập</h3>
            </div>

            <div class="row col-md-2 col-xs-2 col-sm-2 col-lg-2">
                <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3" style="margin-top: 15px;">
                    <button class="btn btn-default" style="background: transparent; border: none;" ng-click="refresh()">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                </div>
                <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3" style="margin-top: 15px;">
                    <button class="btn btn-default" style="background: transparent; border: none;" data-toggle="modal" data-target="#modelId">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
                <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3" style="margin-top: 15px;">
                    <button class="btn btn-default" style="background: transparent; border: none;">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                </div>
                <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3" style="margin-top: 15px;">
                    <button class="btn btn-default" style="background: transparent; border: none;">
                        <span class="glyphicon glyphicon-trash" style="color: red;"></span>
                    </button>
                </div>
            </div>

        </div>

        <div class="row" style="margin-top: 10px;">
            <div class="input-group">
                <input type="text" class="form-control" aria-describedby="basic-addon1"
                       placeholder="Nhập từ khóa tìm kiếm" ng-model="tim_kiem">
                <span class="input-group-btn" id="basic-addon1">
                    <button type="button" class="btn btn-default"
                            style="background-color: #005E9C; color: white; border-radius: 0px; width: 50px;" id="Timkiem">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    @RenderBody()


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
